.favorite-title {
  font-size: 1.5rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding: 15px;
}

.favorites-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.image-item img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  height: 300px;
}

.image-item img:hover {
  transform: scale(1.05);
}
